<%= form_for([@article, @article.comments.build]) do |f| %>
<table>
	<tr>
		<th><%= f.label :commenter, "Member Name" %></th>
		<th><%= f.label :body, "Date Joined Rotation" %></th>
	</tr>

	<tr>
		<td><%= f.text_field :commenter %></td>
		<td><%= f.text_field :body %></td>
		<td><%= f.submit "Add Member" %></td>
	</tr>
</table>
<% end %>


