<h2>Rotation</h2>

<p>
	<strong>Rotation Title:</strong>
	<%= @article.title %>
</p>

<p>
	<strong>Description:</strong>
	<%= @article.text %>
</p>

<h3>Rotation Members</h3>
<%= render @article.comments %>

<h2>Add a member to Rotation:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit Rotation', edit_article_path(@article) %> | 
<%= link_to 'Back to List of Rotations', articles_path %>